<div  class="wrapper login">
    <div class="container">
        <div class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="title">
            <h1 class="head">Reset Passsword</h1>
        </div>
        <div class="form clearfix">
            <form [formGroup]="ResetForm" (ngSubmit)="onSubmit()">
            	<!-- new password -->
                <input type="password"  placeholder="New Password" formControlName="pass1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pass1.errors }">
               <div *ngIf="submitted && f.pass1.errors" class="invalid-feedback" style="color: red">
                            <div *ngIf="f.pass1.errors.required">This field is required</div>
                            <div *ngIf="f.pass1.errors.minlength">This field must be at least 3 characters</div>
               </div>
                <!-- confirm password -->
               <input type="password"  placeholder="Confirm Password" formControlName="pass2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pass2.errors }">
               <div *ngIf="submitted && f.pass2.errors" class="invalid-feedback" style="color: red">
                            <div *ngIf="f.pass2.errors.required">This field is required</div>
                            <div *ngIf="f.pass2.errors.minlength">This field must be at least 3 characters</div>
                            <!-- <div *ngIf="ResetForm.hasError('notSame')">Password not match!</div> -->
               </div>
                <div  class="invalid-feedback" style="color: red" *ngIf="ResetForm.hasError('notSame')"><div >Password not match!</div></div>
               <!-- otp -->
                <input type="text"  placeholder="otp" formControlName="otp" class="form-control" [ngClass]="{'is-invalid': submitted && f.otp.errors }">
               <div *ngIf="submitted && f.otp.errors" class="invalid-feedback" style="color: red">
                            <div *ngIf="f.otp.errors.required">This field is required</div>
                            <div *ngIf="f.otp.errors.minlength">This field must be at least 3 characters</div>
               </div>
              

                <button  class="btn btn-primary">Submit</button>
            </form>
              <div class="center haveaccount" style=""><a [routerLink]="['/Login']">Back to LogIn</a></div>
              <div *ngIf="nouser" class="center haveaccount "> <div  style="color: red">Please use the valid otp</div></div>
        </div>
    </div>
</div>
