<div [ngClass]="{'wrap cyan pagewrapper myaccount another': true, 'ovh': showNewPostPopOver}">
	<div class="backlink-container">
		<a class="usprofback" [routerLink]="['/Friends']"><!-- (click)="goback()" -->&#x3008; Back</a>
	</div>
	<!-- User's name N Social Media icons -->
	<div class="user-info" *ngIf="loaded && !error">
		<span class="userprofimgcont">
			<img [src]="userProfImage" alt="user_image">
		</span>
		<span class="userprofname">{{data.first_name.trim()+data.last_name.trim() ? data.first_name +' '+ data.last_name : data.user}}<br>
			<span class="usr-socials">
				<span><img src="assets/images/newones/fnew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.fb, 'https://www.facebook.com/')"></span>
				<span><img src="assets/images/newones/tnew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.tw, 'https://twitter.com/')"></span>
				<span><img src="assets/images/newones/inew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.insta, 'https://www.instagram.com/')"></span>
				<span><img src="assets/images/newones/ynew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.yt, 'https://www.youtube.com/')"></span>
			</span>
		</span>
	</div>
	<!-- Actions -->
	<div class="newpost" *ngIf="loaded && !error">
		<div class="center">
			<!-- Add / Remove Friend -->
			<span class="addfriend" *ngIf="data.isUserFriended || (!data.isUserFriended && !data.isUserBlocked && !data.isUserPending) || data.isUserPending && !data.isUserBlocked && !data.isUserFriended">
				<!-- Loading when performing any action -->
				<img src="assets/images/Infinity-myaccount.svg" [ngClass]="{'loader addfriendloader': true, 'show': addFriendLoader}">
				<!-- Add User -->
				<span *ngIf="!data.isUserFriended && !data.isUserBlocked && !data.isUserPending" [ngClass]="{'dim': addFriendLoader}" (click)="addFriend()">
					<span class="dashicon-cont"><img src="assets/images/new_icons/svg/add-icon-3.svg" class="dash_icons"></span>
					<span class="text">Add Friend</span>
				</span>
				<!-- Cancel Request -->
				<span *ngIf="data.isUserPending && !data.isUserBlocked && !data.isUserFriended" [ngClass]="{'dim': addFriendLoader}" (click)="cancelRequest()">
					<span class="dashicon-cont"><img src="assets/images/new_icons/svg/add-icon-3.svg" class="dash_icons"></span>
					<span class="text">Cancel Request</span>
				</span>
				<!-- Unfriend -->
				<span *ngIf="data.isUserFriended" [ngClass]="{'dim': addFriendLoader}" (click)="unfriendUser()">
					<span class="dashicon-cont"><img src="assets/images/new_icons/svg/unfriend-icon.svg" class="dash_icons"></span>
					<span class="text">Unfriend</span>
				</span>
			</span>
			<!-- Add New Post -->
			<span (click)="showNewPostPopOver=true" class="newp">
				<span class="dashicon-cont">
					<img src="assets/images/new_icons/svg/post-icon.svg" class="dash_icons">
				</span>
				<span class="text">Message</span>
			</span>
			<!-- Block / Unblock User -->
			<span class="blockuser">
				<img src="assets/images/Infinity-myaccount.svg" [ngClass]="{'loader blockuserloader': true, 'show': blockUserLoader}">
				<span *ngIf="!data.isUserBlocked" [ngClass]="{'dim': blockUserLoader}" (click)="blockUser()">
					<span class="dashicon-cont"><img src="assets/images/new_icons/svg/block-icon-2.svg" class="dash_icons"></span>
					<span class="text">Block</span>
				</span>
				<span *ngIf="data.isUserBlocked" [ngClass]="{'dim': blockUserLoader}" (click)="unblockUser()">
					<span class="dashicon-cont"><img src="assets/images/new_icons/svg/unblock-icon-2.svg" class="dash_icons"></span>
					<span class="text">Unblock</span>
				</span>
			</span>
		</div>
	</div>
	<!-- New Post Loader to show while Posting -->
	<div [ngClass]="{'newpost-popover': true, 'show': showNewPostPopOver}" *ngIf="loaded && !error">
		<div [ngClass]="{'postloading': true, 'show': posting}">
			<img src="assets/images/Infinity-myaccount.svg">
		</div>
		<div [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
		<div class="newpostbtn">
			<button (click)="showNewPostPopOver=false" class="cancelpost">Cancel</button>
			<button (click)="postComment()" class="postnewp">Send</button>
		</div>
	</div>
	<!-- Content Tabs Headings -->
	<div class="ma-tab-head" *ngIf="loaded && !error">
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Board'}" (click)="activeTab = 'Board';checkInAppEventAttached();">Board</span>
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Gains'}" (click)="activeTab = 'Gains';checkInAppEventAttached();">Gains</span>
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Favorites'}" (click)="activeTab = 'Favorites';checkInAppEventAttached();">Favorites</span>
	</div>
	<!-- Tabs Content -->
	<div class="ma-tab-content" [ngSwitch]="activeTab" *ngIf="loaded && !error">
		<!-- BOARD -->
		<div *ngSwitchCase="'Board'" class="board" id="board">
			<p *ngIf="error" class="ma_red">Some error occurred!</p>
			<div class="tb-content" *ngIf="loaded && !error">
				<div *ngIf="data.board.has_results">
					<div *ngFor=" let d of data.board.data; let i = index; " class="feedscont">
						<div class="feed-top">
							<div class="profimg">
								<img src="{{d.userimage}}" alt="image">
							</div>
							<div class="userinfo">
								<div>
									<p class="uname">{{d.username}}</p>
									<p class="time">{{d.time}}</p>
								</div>
							</div>
						</div>
						<div class="feed-copy" [innerHtml]="d.commentText | safeHtml"></div>
					</div>
				</div>
				<div *ngIf="!data.board.has_results" class="noboardresults">
					{{data.board.msg}}
				</div>
			</div>
		</div>
		<!-- GAINS -->
		<div *ngSwitchCase="'Gains'" class="gains">
			<p *ngIf="error" class="ma_red">Some error occurred!</p>
			<div *ngIf="!loaded && !error" class="gifcont">
				<img src="assets/images/Infinity-myaccount.svg" class="loading-gif">
			</div>
			<div class="tb-content" *ngIf="loaded && !error">
				<div class="fullw">
					<span class="flag">Location: {{data.gain.location}}
						<em class="flag {{data.gain.country}}"></em>
					</span>
				</div>
				<div class="two">
					<span>Gender: <b>{{data.gain.gender}}</b></span>
					<span>Hip: <b>{{data.gain.measurement_hip}}</b></span>
					<span>Arm: <b>{{data.gain.measurement_arm}}</b></span>
					<span>Neck: <b>{{data.gain.measurement_neck}}</b></span>
					<span>Age: <b>{{data.gain.age}}</b></span>
					<span>Waist: <b>{{data.gain.measurement_waist}}</b></span>
					<span>Chest: <b>{{data.gain.measurement_chest}}</b></span>
					<span>Calve: <b>{{data.gain.measurement_calve}}</b></span>
					<span>Weight: <b>{{data.gain.weight}}</b></span>
					<span>Goal: <b>{{data.gain.goal}}</b></span>
					<span>Shoulder: <b>{{data.gain.measurement_shoulder}}</b></span>
					<span>Thigh: <b>{{data.gain.measurement_thigh}}</b></span>
					<span>Forearm: <b>{{data.gain.measurement_forearm}}</b></span>
					<span>Height: <b>{{data.gain.height}}</b></span>
					<span>Body Fat: <b>{{data.gain.measurement_bf}}</b></span>
				</div>
			</div>
		</div>
		<!-- FAVORITES -->
		<div *ngSwitchCase="'Favorites'" class="favorites">
			<div class="tb-content">Favorites</div>
		</div>
	</div>
	<!-- Loader -->
    <div *ngIf=" !loaded && !error" class="gifcont ptop">
    	<p class="loading">Loading User's Profile</p>
        <img src="assets/images/Infinity-myaccount.svg" alt="" class="loading-gif" />
    </div>
    <!-- Loading Error -->
    <p *ngIf="loaded && error" class="loadingerror">Some error occurred!</p>
</div>