<div class="wrap yellow pagewrapper">
    <div class="page-title">
        <h1>Programs</h1>
    </div>
    <div class="card">
        <div class="inner">
            <h2>Abs Workout</h2>
            <p>This guide will walk you through everything you need for a great workout routine, from warm-up to stretching, strength to conditioning.</p>
        </div>
    </div>
    <div class="card accordian">
        <h2 class="accor">Part One<span class="icon-arrow"><img src="assets/images/double-down.svg" class="down" alt=""><img src="assets/images/double-up.svg" class="up" alt=""></span></h2>
        <div class="guide">
            <ul>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Excercise</li>
                        <li class="set">Sets</li>
                        <li class="rep">Reps</li>
                        <li class="vid">Video</li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Back Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Front Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Overhead</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Press</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Weighted Dip</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card accordian">
        <h2 class="accor">Part Two<span class="icon-arrow"><img src="assets/images/double-down.svg" class="down" alt=""><img src="assets/images/double-up.svg" class="up" alt=""></span></h2>
        <div class="guide">
            <ul>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Excercise</li>
                        <li class="set">Sets</li>
                        <li class="rep">Reps</li>
                        <li class="vid">Video</li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Back Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Front Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Overhead</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Press</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Weighted Dip</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card accordian">
        <h2 class="accor">Part Three<span class="icon-arrow"><img src="assets/images/double-down.svg" class="down" alt=""><img src="assets/images/double-up.svg" class="up" alt=""></span></h2>
        <div class="guide">
            <ul>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Excercise</li>
                        <li class="set">Sets</li>
                        <li class="rep">Reps</li>
                        <li class="vid">Video</li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Back Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Front Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Overhead</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Press</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Weighted Dip</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card accordian">
        <h2 class="accor">Part Four<span class="icon-arrow"><img src="assets/images/double-down.svg" class="down" alt=""><img src="assets/images/double-up.svg" class="up" alt=""></span></h2>
        <div class="guide">
            <ul>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Excercise</li>
                        <li class="set">Sets</li>
                        <li class="rep">Reps</li>
                        <li class="vid">Video</li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Back Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Front Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Overhead</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Press</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Weighted Dip</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card accordian">
        <h2 class="accor">Part Five<span class="icon-arrow"><img src="assets/images/double-down.svg" class="down" alt=""><img src="assets/images/double-up.svg" class="up" alt=""></span></h2>
        <div class="guide">
            <ul>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Excercise</li>
                        <li class="set">Sets</li>
                        <li class="rep">Reps</li>
                        <li class="vid">Video</li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Back Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Front Squat</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Barbell Overhead</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Press</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="clearfix">
                        <li class="excercise">Weighted Dip</li>
                        <li class="set">3</li>
                        <li class="rep">5-10</li>
                        <li class="vid">
                            <a href="#"><img src="assets/images/vid.svg" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>