.get-btn .get-btn-in{
    float: right!important;
}

.workout-title .fav {
    display: inline-block;
    font-size: 30px;
}

.workout-title .bolder {
    display: inline-block;
    margin-left: 10px;
}
