app-new-content-badge{
    float: right;
}

app-new-content-badge .green{
    color: #4dd964 !important;
    font-family: Roboto !important;
}
app-new-content-badge .blue{
    color: #097aff !important;
    font-family: Roboto !important;
}
app-new-content-badge .indigo{
    color: #5bc8fa !important;
    font-family: Roboto !important;
}
app-new-content-badge .yellow{
    color: #ffcb00 !important;
    font-family: Roboto !important;
}
app-new-content-badge .orange{
    color: #ff9502 !important;
    font-family: Roboto !important;
}
app-new-content-badge .red{
    color: #ff2d55 !important;
    font-family: Roboto !important;
}
p, h2, div, span, a{
    font-family: Roboto;
}