.green .header{
    border-bottom-color: #4dd964 !important;
}
.blue .header{
     border-bottom-color: #097aff !important;
}
.indigo .header{
     border-bottom-color: #5bc8fa !important;
}
.yellow .header{
     border-bottom-color: #ffcb00 !important;
}
.orange .header{
     border-bottom-color: #ff9502 !important;
}
.red .header{
     border-bottom-color: #ff2d55 !important;
}
.pagewrapper{
    padding-top: 44px;
}
app-header .header{
    /* border-top: 18px solid #000000 !important;    */
}

app-header .header-top{
    /* border-top: 18px solid #000000 !important; */
}

.freefitnesscode {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.freefitnesscode a{
    color: #000!important;
}
.msg.failed{
	margin-bottom: 20px!important;
}

.new-content-count{
    float: right;
    font-size: 18px;
    padding: 0px 5px;
    border-color: white;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    min-width: 30px;
    text-align: center;
    box-sizing: border-box;
    font-size: 15px;
}
.new-content-count.green{
    background-color: #4dd964 !important;
}
.new-content-count.blue{
    background-color: #097aff !important;
}
.new-content-count.indigo{
    background-color: #5bc8fa !important;
}
.new-content-count.yellow{
    background-color: #ffcb00 !important;
}
.new-content-count.orange{
    background-color: #ff9502 !important;
}
.new-content-count.red{
    background-color: #ff2d55 !important;
}
app-new-content-badge {
    float: right;
}
app-new-content-badge .green{
    color: #4dd964 !important;
}
app-new-content-badge .blue{
    color: #097aff !important;
}
app-new-content-badge .indigo{
    color: #5bc8fa !important;
}
app-new-content-badge .yellow{
    color: #ffcb00 !important;
}
app-new-content-badge .orange{
    color: #ff9502 !important;
}
app-new-content-badge .red{
    color: #ff2d55 !important;
}


.newcomtext{
    width: 100%!important;
}
.absolute-move-down {
    position: absolute;
    top: 60px;
    width: 90%;
    text-align: center;
}