.haveaccount{
	text-align:center;
	color: #fff !important;
	margin-top: 10px;
}
.haveaccount a{
	text-decoration: none;
	color: #fff !important;
	font-weight: 700;
}
.title h1{
	font-size:25px!important;
}