<div class="wrap crimson pagewrapper">
    <div class="page-title">
        <span class="dashicon-cont"><img src="assets/images/new_icons/svg/article-icon.svg" alt="" class="dash_icons"></span>
        <h1>Articles<span><img src="assets/images/search_svg_icon.svg" class="magnifying-glass" (click)="toggleSearchInput();"><input type="text" name="article" placeholder="Search" [(ngModel)]="searchArticle" (ngModelChange)="articlesSearch($event)" [ngClass]="{'articles-searchinp': true, 'show': showSearchInput}"></span></h1>
    </div>
    <div class="articles-listing-card" *ngIf=" articles?.length > 0 ">
        <div class="card" *ngFor="let article of articles; let i = index; ">
            <div class="inner">
                <app-new-content-badge [colorName]="'red'" [type]="'articles'" [item_id]="article.id"></app-new-content-badge>
                <div class="article-title">
                    <app-like-button class="fav" [type]="'article'" [item_id]="article.id"></app-like-button>
                    <h2 class="bolder">{{article.heading}}</h2>
                </div>
                <p class="subtitle">{{article.title}}</p>
                <p class="lessmarg"><span class="image-box large"><img src="{{article.image}}" alt=""></span>{{article.description}}</p>
                <div class="get-btn text-right">
                    
                    <a [routerLink]="['/Articles', article.id]" class="lesspd">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf=" allArticlesLoaded == false && noResults == ''" class="gifcont">
        <img src="assets/images/Infinity-articles.gif" alt="" class="loading-gif" />
    </div>
    <p *ngIf="allArticlesLoaded" class="nomore-articles">No more articles!</p>
    <p *ngIf="noResults != ''" class="noresults">{{noResults}}</p>
</div>