.articles-listing-card .card h2 {
  /* margin-bottom: 3px; */
}

.magnifying-glass {
  width: 28px;
  height: 28px;
  float: right;
  margin-top: 2px;
}

.articles-searchinp {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444;
  color: #333;
  display: none;
  margin-top: 10px;
}

.articles-searchinp.show {
  display: block;
}

.noresults {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  color: #4a4a4a;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 0;
}

/*.crimson{
    color: #ff2d55;
}*/

app-like-button {
  float: left;
  font-size: 14px;
  position: relative;
  top: 0px;
}
app-like-button span i {
  font-size: 16px !important;
}

.article-title .fav {
  display: inline-block;
  font-size: 30px;
}

/* .article-title .bolder {
    display: inline-block;
    margin-left: 10px;
    padding-top: 4px;
} */

.article-title {
  display: flex;
}
