<div  class="wrapper login">
    <div class="container">
        <div class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="title">
            <h1 class="head">Forget Passsword</h1>
        </div>
        <div class="form clearfix">
            <form [formGroup]="ForgetForm" (ngSubmit)="onSubmit()">
                <input type="text"  placeholder="Username" formControlName="uname" class="form-control" [ngClass]="{'is-invalid': submitted && f.uname.errors }">
                
               <div *ngIf="submitted && f.uname.errors" class="invalid-feedback" style="color: red">
                            <div *ngIf="f.uname.errors.required">This field is required</div>
                            <div *ngIf="f.uname.errors.minlength">This field must be at least 3 characters</div>
                        </div>
                <button [disabled]="!ForgetForm.valid" class="btn btn-primary">Submit</button>
             <!--    <label [ngClass]="{ 'label hide': true, 'show failed': forgetstate === false }">No User Found</label> -->
            </form>
              <div class="center haveaccount" ><a [routerLink]="['/Login']">Back to LogIn</a></div>
              <div *ngIf="nouser" class="center haveaccount "> <div  style="color: red">No User found</div></div>
        </div>
    </div>
</div>
