.wrap.green {
    float: left;
    width: 100%;
}
.loading{
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    color: #4dd964;
}
.loading.ptop{
    padding-top: 44px;
}
.page-title{
    /*background: #f9f9f9;*/
    /*border-top: 2px solid #097aff;*/
    float: left;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}
.page-title.ptop{
    padding-top: 50px;
}
.title {
    /*color: #4dd964;*/
    font: 28px Roboto;
    margin: 0;
}
.title.bordertop {
    padding-top: 15px;
    border-top: 1px solid #DDD;
}
.card {
    float: left;
    width: 100%;
}
.author{
    text-align: center;
    color: #4a4a4a;
    font: 17px Roboto;
    letter-spacing: .074em;
    margin: 0;
    float: right;
    padding: 13px 5px 0 0;
}
.article-details {
    padding: 0px 20px;
}
p, span {
    font-family: Roboto !important;
}
p span, li span {
    color: #8a8a8a;
    font: 14px/1.5 Roboto !important;
    margin: 0 0 15px;
}
span.fr-video {
    text-align: center;
    width: 100%;
    display: block;
}
img{
    max-width: 100% !important;
    height: auto !important;
}
iframe{
    max-width: 100% !important;
    display: inline-block;
}
.pagewrapper{
    padding-top: 44px;
}
strong {
    font-size: 16px;
    color: #4a4a4a;
}
.member-comments {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.content {
    padding: 0 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.content.nopad {
    padding: 0;
}
.comment {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    float: left;
    overflow: hidden;
}
.member-comments h3, .about-author h3{
    background: #f9f9f9;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    font-family: Roboto;
}
.member-comments h3.lessmarg, .about-author h3.lessmarg{
    margin-bottom: 5px;
}
.member-img, .author-img {
    width: 35%;
    float: left;
    /*text-align: center;*/
    padding-left: 3%;
    box-sizing: border-box;
}
.comment .member-img {
    width: 15%;
    padding-left: 0;
    text-align: center;
}
.member-img img {
    border-radius: 50%;
}
.msg-block {
    width: 82%;
    padding-left: 3%;
    float: left;
    box-sizing: border-box;
}
.msg-block p {
    margin-top: 0;
    margin-bottom: 8px;
}
.msg-block .name {
    position: relative;
}
.name{
    text-transform: capitalize;
}
.cmnt {
    color: #8a8a8a;
    font: 14px/1.2 Roboto !important;
    margin: 0 0 15px;
    margin-bottom: 0;
}
.comment .msg-block .cmnt {
    /*padding-right: 15px;*/
    position: relative;
}
.nmcmnt .likecmnt {
    position: absolute;
    right: -5px;
    top: 0;
    height: 18px;
    width: 18px;
    overflow: hidden;
    background-image: url(assets/images/arm_like.png);
    background-position: 0 0px;
    transition: all 0.4s ease;
}
.nmcmnt .likecmnt.liked {
    background-position: 0 18px;
}
.name.nmcmnt {
    padding-right: 15px;
    position: relative;;
}
.center{
    text-align: center;
}
.mgbtm {
    margin-bottom: 15px;
}
.copyright{
    color: #8a8a8a;
    font: 14px/1.5 Roboto !important;
    margin: 0 0 15px;
    display: inline-block;
    width: 100%;
}
.child-comments{
    display: none;
}
.child-comments.show{
    display: block;
}
.child-comment {
    padding-left: 5%;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 0;
    float: left;
}
.accordionbtn{
    display: none;
    width: auto !important;
    color: #4a4a4a;
}
.accordionbtn.show{
    display: block;
}
.recipes-back{
    color: #4dd964;
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    font-size: 20px;
    font-family: Roboto;
    margin-top: 10px;
    float: right;
}
.backlink-container{
    /*background-color: #f9f9f9;*/
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 4%;
    left: 0;
    padding: 44px 20px 5px;
    box-sizing: border-box;
    z-index: 11;
}
/*.title.green {
    color: #4dd964;
}*/
.backlink-container .author {
    display: none;
}
/deep/ .comment{
    width: 100%;
    overflow: auto;
}
.about-author .content {
    display: flex;
    justify-content: space-between;
}
.online-coaching {
    width: 65%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.online-coaching p a{
    text-decoration: none;
}
.socialIcons {
    padding: 15px 20px;
    text-align: center;
}
.socialIcons {
    padding: 15px 20px;
    text-align: center;
}
.socialIcons img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.fbcounter {
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
    margin: -22px 0px 0 -13px;
    font-size: 16px;
    color: #fff;
    padding: 8px 8px 8px 4px;
    background: #3c599b;
    border-radius: 3px;
}
.socialIcons img.nomargin {
    margin: 0;
}
.article-subtitle {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}
/* Comments Like etc */
.like-etc span {
    font-weight: 600 !important;
    color: #666;
    font-size: 13px !important;
}
.mgr10 {
    margin-right: 10px;
}
a.authorpflink{
    text-decoration: none;
    color: inherit;
}
.findme-links {
    padding: 0 0 5px;
}
.findme-links img {
    width: 40px;
    float: left;
}
.about-author .online-coaching p {
    color: #8a8a8a;
    font: 14px/1.5 Roboto;
    margin: 0 0 5px;
}
.online-coaching.block{
    display: block;
}

.like-etc .like.likecmnt.liked {
    color: #e29236;
}

app-like-button {
    position: relative;
    top: -5px;
    padding-right: 5px;
    font-size: 14px;
}