<div class="wrap blue pagewrapper">
    <div class="page-title">
        <h1>Community</h1>
    </div>
    <div class="card">
        <div class="inner">
            <h2>Board <span class="update">1 NEW</span></h2>
            <div class="copy">
                <div class="circle">
                    <h6>SH</h6>
                </div>
                <h3><a href="javascript:void(0);">Scott Herman</a> posted a message on your board!</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="inner">
            <h2>Newsfeed <span class="update">19 NEW</span></h2>
            <div class="copy">
                <div class="circle">
                    <h6>SH</h6>
                </div>
                <h3><a href="javascript:void(0);">Scott Herman</a> commented on the photo Week 5</h3>
            </div>
            <div class="copy">
                <div class="circle">
                    <h6>W</h6>
                </div>
                <h3><a href="javascript:void(0);">William_Steinset</a> has posted on a thread.</h3>
            </div>
            <div class="copy">
                <div class="circle">
                    <h6>W</h6>
                </div>
                <h3><a href="javascript:void(0);">William_Steinset</a> has posted on a thread.</h3>
            </div>
            <div class="next-down">
                <img src="assets/images/down-arrow.png" alt="">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="inner">
            <h2>Forum <span class="update">3 NEW</span></h2>
            <div class="copy">
                <div class="circle">
                    <h6>SH</h6>
                </div>
                <h3><a href="javascript:void(0);">Scott Herman Training Blog Created by Scott Herman</a></h3>
            </div>
        </div>
    </div>
</div>