<div [ngClass]="{'wrap cyan pagewrapper myaccount author-details': true, 'ovh': showNewPostPopOver}">
	<div class="backlink-container">	
		<a (click)="goBack()" class="author-back">&#x3008; Go Back</a>
	</div>
	<div class="user-info">
		<span *ngIf="loaded && !error" class="userprofimgcont">
			<img [src]="userProfImage" alt="user_image">
		</span>
		<span class="userprofname">{{name}}<br>
			<span class="usr-socials" *ngIf="loaded && !error">
				<span><img src="assets/images/newones/fnew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.fb, 'https://www.facebook.com/')"></span>
				<span><img src="assets/images/newones/tnew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.tw, 'https://twitter.com/')"></span>
				<span><img src="assets/images/newones/inew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.insta, 'https://www.instagram.com/')"></span>
				<span><img src="assets/images/newones/ynew.svg" (click)="OpenSocialLinksInAppBrowser(data.social_links.yt, 'https://www.youtube.com/')"></span>
			</span>
		</span>
	</div>
	<div class="newpost">
		<span class="dashicon-cont">
			<img src="assets/images/new_icons/svg/post-icon.svg" class="dash_icons" (click)="showNewPostPopOver=true">
		</span><span (click)="showNewPostPopOver=true">New Post</span>
	</div>
	<div [ngClass]="{'newpost-popover': true, 'show': showNewPostPopOver}">
		<div [ngClass]="{'postloading': true, 'show': postloading}">
			<img src="assets/images/Infinity-myaccount.svg">
		</div>
		
		
		<div [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
		<div class="newpostbtn">
			<button (click)="cancelPost()" class="cancelpost">Cancel</button>
			<button (click)="postComment()" class="postnewp">POST</button>
		</div>
	</div>
	<div class="ma-tab-head">
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Board'}" (click)="activeTab = 'Board';checkInAppEventAttached();">Board</span>
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Photos'}" (click)="activeTab = 'Photos';checkInAppEventAttached();">Photos</span>
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Videos'}" (click)="activeTab = 'Videos';checkInAppEventAttached();">Videos</span>
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Gains'}" (click)="activeTab = 'Gains';checkInAppEventAttached();">Gains</span>
		<span [ngClass]="{'tab': true, 'active': activeTab == 'Favorites'}" (click)="activeTab = 'Favorites';checkInAppEventAttached();">Favorites</span>
	</div>
	<div class="ma-tab-content" [ngSwitch]="activeTab">
		<div *ngSwitchCase="'Board'" class="board" id="board">
			<!-- <div class="tb-content">FULL BOARD FUNCTIONS COMING IN NEXT APP UPDATE!</div> -->
			<p *ngIf="error" class="ma_red">Some error occurred!</p>
			<div *ngIf="!loaded && !error" class="gifcont ptop">
				<img src="assets/images/Infinity-myaccount.svg" class="loading-gif">
			</div>
			<div class="tb-content" *ngIf="loaded && !error">
				<div *ngIf="data.board.has_results">
					<div *ngFor=" let d of data.board.data; let i = index; " class="feedscont">
						<div class="feed-top">
							<div class="profimg">
								<img src="{{d.userimage}}" alt="image">
							</div>
							<div class="userinfo">
								<div>
									<p [routerLink]="['/Authors/0/'+d.username]" class="uname">{{d.username}}</p>
									<p class="time">{{d.time}}</p>
								</div>
							</div>
						</div>
						<div class="feed-copy" [innerHtml]="d.commentText | safeHtml"></div>
						<div class="like-comnt">
							<span class="like" [ngClass]="{'likecmnt': true, 'liked': d.userHasLiked}" (click)=" !d.userHasLiked ? likeComment(d.postid, 'LIKE') : likeComment(d.postid, 'UNLIKE')"><img src="assets/images/muscular-like.png"/> {{ d.like!=0?d.like+" ":'' }} Like</span>
							<span class="reply" (click)="CommentPopupOpen =true; postId=d.postid; replyTo=d.username; CommentText='@'+d.username+' '" ><i class="fa fa-reply"></i> Reply</span>									<span class="reply" (click)="CommentPopupOpen =true; postId=d.postid; replyTo=d.username; CommentText='@'+d.username+' '" ><img src="assets/images/muscular-reply.png"/> Reply</span>
						</div>
						<p class="viewallreplies" (click)="commentsArray[i].open = !commentsArray[i].open">
							<span *ngIf="!commentsArray[i].open && commentsArray[i].hasChildComments">
								VIEW ALL REPLIES +
							</span>
							<span *ngIf="commentsArray[i].open">
								VIEW ALL REPLIES -
							</span>
						</p>
						<!-- <div *ngIf="commentsArray[i].open" > -->
						<div  [ngClass]="{ 'child-comments' : true, 'show' : commentsArray[i].open == true }">
							<div class="child-comment" *ngFor=" let childcomment of d.childcomment">
								<div class="member-img">
									<img class="2" src="{{childcomment.userimage}}" alt="" />
								</div>
								<div class="msg-block">
									<p class="name nmcmnt"><strong [routerLink]="['/Authors/0/'+childcomment.username]">{{childcomment.username}}</strong>
										<span class="musclehand" [ngClass]="{'likecmnt': true, 'liked': childcomment.userHasLiked }" (click)=" !childcomment.userHasLiked ? likeComment(childcomment.commentid, 'LIKE',true,d.postid) : likeComment(childcomment.commentid, 'UNLIKE',true,d.postid)"></span>
										<span class="time">
											{{childcomment.time}}
										</span>
									</p>
									
									<p class="cmnt">
										<span [innerHTML]="childcomment.commentText"></span>
									</p>
									<div class="like-etc">
										<span class="like" [ngClass]="{'likecmnt': true, 'liked': childcomment.userHasLiked}" (click)=" !childcomment.userHasLiked ? likeComment(childcomment.commentid, 'LIKE',true,d.postid) : likeComment(childcomment.commentid, 'UNLIKE',true,d.postid)">{{ childcomment.like!=0?childcomment.like + " ":'' }}Like</span>
										<span class="reply" (click)="openCommentBox(d.postid,childcomment.username);"><i class="fa fa-reply"></i> Reply</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="!data.board.has_results" class="noboardresults">
					{{data.board.msg}}
				</div>
				<div class="newcomment-reply-popup" *ngIf="CommentPopupOpen">
					<span class="close-pop" (click)="CommentPopupOpen = false">x</span>
					<div *ngIf="posting" class="gifcont ptop addcomment">
						<img src="assets/images/Infinity-programs.gif" class="loading-gif">
					</div>
					<textarea rows="5" [(ngModel)]="CommentText" placeholder="Your Comment here..." class="newcomtext"></textarea>
					<button (click)="postCommentReply()" class="addCommentBtn">Comment</button>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'Photos'" class="photos">
			<div class="tb-content">
				COMING IN NEXT APP UPDATE!
				<div *ngIf="data.photos.has_album && 1==0">
					<div class="photo-album feedscont" *ngFor="let album of data.photos.data" (click)="openAlbum(album.id,'photos')">
						<div class="cover"><img src="https://muscularstrength.com/{{album.covers.location+album.covers.filename}}"/></div>
						<div class="details">
							<span class="name">{{album.name}}</span>
							<span class="date">{{album.created}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'Videos'" class="videos">
			<div class="tb-content">COMING IN NEXT APP UPDATE!
				<div *ngIf="data.videos.has_album && 1==0">
					<div class="videos-album photo-album feedscont" *ngFor="let album of data.videos.data" (click)="openAlbum(album.id,'videos')">
						<div class="cover"><img src="{{album.covers.thumbnail}}"/></div>
						<div class="details">
							<span class="name">{{album.name}}</span>
							<span class="date">{{album.created}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'Gains'" class="gains">
			<p *ngIf="error" class="ma_red">Some error occurred!</p>
			<div *ngIf="!loaded && !error" class="gifcont">
				<img src="assets/images/Infinity-myaccount.svg" class="loading-gif">
			</div>
			<div class="tb-content" *ngIf="loaded && !error">
				<div class="fullw">
					<span class="flag">Location: {{data.gain.location}}
						<em class="flag {{data.gain.country}}"></em>
					</span>
				</div>
				<div class="two">
					<span>Gender: <b>{{data.gain.gender}}</b></span>
					<span>Hip: <b>{{data.gain.measurement_hip}}</b></span>
					<span>Arm: <b>{{data.gain.measurement_arm}}</b></span>
					<span>Neck: <b>{{data.gain.measurement_neck}}</b></span>
					<span>Age: <b>{{data.gain.age}}</b></span>
					<span>Waist: <b>{{data.gain.measurement_waist}}</b></span>
					<span>Chest: <b>{{data.gain.measurement_chest}}</b></span>
					<span>Calve: <b>{{data.gain.measurement_calve}}</b></span>
					<span>Weight: <b>{{data.gain.weight}}</b></span>
					<span>Goal: <b>{{data.gain.goal}}</b></span>
					<span>Shoulder: <b>{{data.gain.measurement_shoulder}}</b></span>
					<span>Thigh: <b>{{data.gain.measurement_thigh}}</b></span>
					<span>Forearm: <b>{{data.gain.measurement_forearm}}</b></span>
					<span>Height: <b>{{data.gain.height}}</b></span>
					<span>Body Fat: <b>{{data.gain.measurement_bf}}</b></span>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'Favorites'" class="favorites">
			<div class="tb-content">COMING IN NEXT APP UPDATE!</div>
		</div>
	</div>
	<div class="ma-tab-head">
			<span [ngClass]="{'tab': true, 'active': activeTab == 'Board'}" (click)="activeTab = 'Board';checkInAppEventAttached();"><img src="assets/images/news-filled-100.png" /></span>
			<span [ngClass]="{'tab': true, 'active': activeTab == 'Photos'}" (click)="activeTab = 'Photos';checkInAppEventAttached();"><img src="assets/images/screenshot-filled-100.png" /></span>
			<span [ngClass]="{'tab': true, 'active': activeTab == 'Videos'}" (click)="activeTab = 'Videos';checkInAppEventAttached();"><img src="assets/images/movies-folder-filled-100.png" /></span>
			<span [ngClass]="{'tab': true, 'active': activeTab == 'Gains'}" (click)="activeTab = 'Gains';checkInAppEventAttached();"><img src="assets/images/chart-filled-100.png" /></span>
			<span [ngClass]="{'tab': true, 'active': activeTab == 'Favorites'}" (click)="activeTab = 'Favorites';checkInAppEventAttached();"><img src="assets/images/star-filled-100.png" /></span>
	</div>
</div>