.header {
  background: #efeff4;
  float: left;
  padding: 10px;
  position: fixed;
  width: 100%;
  left: 0;
  border-bottom: 2px solid #097aff;
  z-index: 12;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .header,
  .header-top {
    top: -12px !important;
  }
  .overlay-close[_ngcontent-c8]{
    top: 60px !important;
  }
  .user-info[_ngcontent-c10] {
    padding: 35px 0 !important;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  header,
  .header-top {
    top: 0px !important;
  }
  .overlay-close[_ngcontent-c8]{
    top: 60px !important
  }
  .user-info[_ngcontent-c10] {
    padding: 40px 0 !important;
  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  header,
  .header-top {
    top: 0px !important;
  }
  .overlay-close[_ngcontent-c8]{
    top: 60px !important
  }
  .user-info[_ngcontent-c10] {
    padding: 40px 0 !important;
  }
}

/* iphone XR */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .header,
  .header-top {
    top: -10px !important;
  }
  .overlay-close[_ngcontent-c8]{
    top: 60px !important
  }
  .user-info[_ngcontent-c10] {
    padding: 30px 0 !important;
  }
}

/* iphone XS */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .header,
  .header-top {
    top: -12px !important;
  }
  .overlay-close[_ngcontent-c8]{
    top: 60px !important
  }
  .user-info[_ngcontent-c10] {
    padding: 30px 0 !important;
  }
}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .header,
  .header-top {
    top: -12px !important;
  }
  .overlay-close[_ngcontent-c8]{
    top: 60px !important
  }
  .user-info[_ngcontent-c10] {
    padding: 30px 0 !important;
  }
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  header,
  .header-top {
    top: 0px !important;
  }
  .overlay-close[_ngcontent-c8]{
    top: 60px !important
  }
  .user-info[_ngcontent-c10] {
    padding: 30px 0 !important;
  }

}

/deep/ .purple .header {
  border-bottom: 2px solid #be10e0;
}

.header.noborder {
  border-bottom: none;
}

.header .ham-nav {
  cursor: pointer;
  float: left;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 20px;
}

.header .ham-nav span {
  background: #000;
  display: block;
  height: 2px;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.header .ham-nav span:nth-child(1) {
  top: 0px;
}

.header .ham-nav span:nth-child(2),
.header .ham-nav span:nth-child(3) {
  top: 8px;
}

.header .ham-nav span:nth-child(4) {
  top: 16px;
}

.header .ham-nav.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.header .ham-nav.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .ham-nav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .ham-nav.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.header .logo {
  height: 100%;
  left: 50%;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 55%;
}

.header .logo img {
  max-height: 100%;
  vertical-align: middle;
  width: auto;
}

.header .right-nav {
  float: right;
  /* display: none; */
}

.header .right-nav ul {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.header .right-nav ul li {
  float: left;
  margin: 0 0 0 8px;
}

.header .right-nav ul li img {
  vertical-align: top;
}

.header .right-nav ul li:first-child {
  margin-left: 0;
}

.wrapper {
  float: left;
  padding: 5%;
  width: 100%;
}

.wrapper.login {
  background: url(assets/images/bg-log.png) 0 0 no-repeat;
  background-size: cover;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper.login .container {
  width: 100%;
}

.wrapper.login .container .form input {
  border: 0 none;
  color: #666;
  font: 17px;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  font-family: robotoregular !important;
}

.wrapper.login .container .form form.joinform input {
  padding: 8px 0;
}

.wrapper.login .container .form button {
  background: #ffcc00;
  border: 0 none;
  color: #fff;
  font: 17px;
  padding: 10px 0;
  width: 100%;
  font-family: robotoregular !important;
}

.wrapper.login .container .form button.signingup {
  opacity: 0.8;
}

.wrapper.login .container .signup {
  text-align: center;
}

.wrapper.login .container .signup h6 {
  color: #fff;
  font: 17px/1;
  margin: 35px 0 15px;
  font-family: robotoregular !important;
}

.wrapper.login .container .signup h6 a {
  color: #ffcc00;
  text-decoration: none;
}

.wrapper.login .container .log-fb {
  text-align: center;
}

.wrapper.login .container .log-fb img {
  width: 190px;
}

.logo {
  margin-bottom: 50px;
  text-align: center;
}

.join .logo {
  margin-bottom: 33px;
}

.title {
  margin: 0 0 25px;
  text-align: center;
}

.title h1 {
  color: #fff;
  font: 32px/1;
  /*font-family: "Josefin Sans", Sans serif;*/
  font-family: robotoregular !important;
  font-weight: 600;
}

.menu {
  padding: 15px 5px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu ul li a {
  text-decoration: none;
}

.menu ul li a .box {
  color: #fff;
  float: left;
  font: 16px/30px;
  height: 30px;
  margin-right: 15px;
  text-align: center;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: robotoregular !important;
}

.menu ul li a .right-text {
  color: #000;
  float: right;
  font: 12px;
  margin-top: 10px;
  font-family: robotoregular !important;
}

.menu ul li a h2 {
  font: 28px/30px robotoregular;
  margin: 0;
  color: #000;
  padding: 0 0 0 50px;
}

.menu-cont .menu ul li a h2 {
  /*font: 23px/20px robotoregular;*/
  font: 28px/30px robotoregular !important;
  color: #000;
}

.menu ul li.blue .box {
  background: #097aff;
}

.menu ul li.blue h2 {
  color: #097aff;
}

.menu ul li.cyan .box {
  background: #5bc8fa;
}

.menu ul li.cyan h2 {
  color: #5bc8fa;
}

.menu ul li.yellow .box {
  background: #ffcb00;
}

.menu ul li.yellow h2 {
  color: #ffcb00;
}

.menu ul li.orange .box {
  background: #ff9502;
}

.menu ul li.orange h2 {
  color: #ff9502;
}

.menu ul li.crimson .box {
  background: #ff2d55;
}

.menu ul li.crimson h2 {
  color: #ff2d55;
}

.menu ul li.green .box {
  background: #4dd964;
}

.menu ul li.green h2 {
  color: #4dd964;
}

.wrap {
  float: left;
  width: 100%;
}

/*.wrap.blue .page-title h1 {
  color: #097aff;
}*/

.wrap.blue .card .inner h2 .update {
  color: #097aff;
}

/*.wrap.cyan .page-title h1 {
  color: #5bc8fa;
}*/

.wrap.cyan .card .inner h2 .update {
  color: #5bc8fa;
}

.wrap.cyan .card .inner .get-btn a {
  color: #5bc8fa;
}

/*.wrap.yellow .page-title h1 {
  color: #ffcb00;
}*/

.wrap.yellow .card .inner h2 .update {
  color: #ffcb00;
}

.wrap.yellow .card .inner .get-btn a {
  color: #ffcb00;
}

/*.wrap.orange .page-title h1 {
  color: #ff9502;
}*/

.wrap.orange .card .inner h2 .update {
  color: #ff9502;
}

.wrap.orange .card .inner .get-btn a {
  color: #ff9502;
}

/*.wrap.crimson .page-title h1 {
  color: #ff2d55;
}*/

.wrap.crimson .card .inner h2 .update {
  color: #ff2d55;
}

.wrap.crimson .card .inner .get-btn a {
  color: #ff2d55;
}

/*.wrap.green .page-title h1 {
  color: #4dd964;
}*/

.wrap.green .card .inner h2 .update {
  color: #4dd964;
}

.wrap.green .card .inner .get-btn a {
  color: #4dd964;
}

.progress-bar {
  background: #f3f3f6;
  float: left;
  width: 100%;
}

.progress-bar img {
  width: 100%;
}

.page-title {
  /*background: #f9f9f9;
  border-top: 2px solid #097aff;*/
  float: left;
  padding: 30px 4% 10px;
  width: 100%;
  z-index: 10;
}

.page-title h1 {
  color: #000;
  /*font: 28px robotoregular;*/
  font: 28px roboto;
  margin: 0;
  line-height: 30px;
}
.article-title {
  display: flex;
}

.article-title {
  display: flex;
}

.card {
  background: #fff;
  /*-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);*/
  float: left;
  /*margin-bottom: 15px;
  padding: 15px 20px;*/
  padding: 0 4%;
  width: 100%;
  word-wrap: break-word;
}

.card.nomargin {
  margin: 0;
}

.card.nopadtop {
  padding-top: 0;
}

/*.card.noshdw {
  box-shadow: none;
}*/

.card .inner {
  float: left;
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.card .inner:after {
  position: absolute;
  content: "";
  width: 108%;
  height: 1px;
  background-color: #d7d7d7;
  top: 0;
  left: -4%;
}

.card h2 {
  font: 4.9vw Roboto Slab;
  margin: 0;
  color: #000;
  padding-left: 3%;
}

.card h2 .update {
  color: #097aff;
  font-size: 10px;
  margin-left: 5px;
}

.card p {
  color: #4a4a4a;
  font: 3.2vw/1.7 Roboto;
  margin: 0 0 15px;
}
.card p.subtitle {
  font: 3.85vw Roboto;
  text-transform: uppercase;
  color: #555;
  margin: 15px 0 10px;
}
.card p.flex {
  display: flex;
}

.card p.lessmarg {
  margin-bottom: 5px;
}

.card .image-box {
  float: left;
  margin-right: 15px;
  width: 115px;
}

.card .image-box.large {
  flex: 0 0 40%;
  max-width: 40%;
  margin: 0;
}

.card .image-box img {
  max-width: 100%;
  vertical-align: top;
}

.card .get-btn {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.card .get-btn a {
  color: #6accfa;
  background-color: #fff;
  display: inline-block;
  font: 700 14px/1.2 Roboto;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #d7d7d7;
  text-transform: uppercase;
}

.card .get-btn a.lesspd {
  padding: 8px 20px;
}
.card .get-btn .addfav {
  color: #565656;
  display: flex;
  margin-left: 15px;
  font: 700 14px Roboto;
  text-transform: uppercase;
  align-items: center;
}

.card .get-btn .addfav .fav {
  margin-right: 5px;
}

.card .get-btn .addfav {
  color: #565656;
  display: flex;
  margin-left: 15px;
  font: 700 14px Roboto;
  text-transform: uppercase;
  align-items: center;
}

.card .get-btn .addfav .fav {
  margin-right: 5px;
}

.card .copy {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

.card .copy .circle {
  float: left;
  margin-right: 20px;
}

.card .copy .circle h6 {
  background: #097aff;
  border-radius: 50%;
  color: #fff;
  font: 10px/25px;
  height: 25px;
  margin: 0;
  text-align: center;
  width: 25px;
  font-family: robotoregular !important;
}

.card .copy h3 {
  color: #333;
  font: 13px/1.5;
  margin: 0;
  padding-left: 45px;
  font-family: robotoregular !important;
}

.card .copy h3 a {
  color: #777;
  text-decoration: none;
}

.card .copy.forum h3 {
  color: #4a4a4a;
  font: 17px;
  letter-spacing: 0.0052em;
  margin: 0 0 5px;
  padding: 0;
  font-family: robotoregular !important;
}

.card .copy.forum h4 {
  color: #9c9ca0;
  font: 10px/1.5;
  margin: 0;
  font-family: robotoregular !important;
}

.card .copy.forum h4 a {
  color: #0091ff;
  text-decoration: none;
}

.card .copy.forum h5 {
  color: #8a8a8a;
  font: 13px/1.5;
  margin: 0 0 15px;
  font-family: robotoregular !important;
}

.card .copy.forum .reply a {
  text-decoration: none;
}

.card .copy.forum .reply a .icon-reply {
  float: left;
  margin-right: 8px;
}

.card .copy.forum .reply a p {
  color: #0091ff;
  font: 13px;
  font-family: robotoregular !important;
}

.card .next-down {
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.card.accordian {
  padding: 0;
}

.card.accordian h2 {
  margin: 0;
  padding: 15px;
}

.accor .icon-arrow {
  float: right;
}

.accor .icon-arrow .up {
  display: none;
}

.card.accordian .guide {
  max-height: 0px;
  transition: all 0.4s ease-in-out;
  padding: 0 15px;
  overflow: hidden;
}

.card.accordian .accor {
  cursor: pointer;
}

.accor.open + .guide {
  max-height: 1000px;
  padding-top: 25px;
}

.card.accordian .accor.open .down {
  display: none;
}

.card.accordian .accor.open .up {
  display: block;
}

.card.accordian .guide h3 {
  color: #097aff;
  font: 14px;
  margin: 0 0 15px;
  font-family: robotoregular !important;
}

.card.accordian .guide ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*.card.accordian .guide h3, .card.accordian .guide ul {
    transition: all 0.4s ease-in-out;
    max-height: 0;
    overflow: hidden;
}
.card.accordian .accor.open+.guide h3, .card.accordian .accor.open+.guide ul {
    max-height: 1000px;
}*/

.card.accordian .guide ul li {
  margin-bottom: 15px;
  color: #8a8a8f;
  font: 14px;
  text-align: center;
  font-family: robotoregular !important;
}

.card.accordian .guide ul ul li {
  margin: 0;
}

.card.accordian .guide ul ul li.excercise {
  float: left;
  text-align: left;
  width: 50%;
}

.card.accordian .guide ul ul li.set {
  float: left;
  width: 15%;
}

.card.accordian .guide ul ul li.rep {
  float: left;
  width: 20%;
}

.card.accordian .guide ul ul li.vid {
  float: left;
  width: 15%;
}

.return {
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
  float: left;
  padding: 10px 15px;
  width: 100%;
}

.return a {
  text-decoration: none;
}

.return .icon {
  float: left;
  margin-right: 8px;
}

.return h2 {
  color: #0091ff;
  font: 20px/1;
  margin: 0;
  font-family: robotoregular !important;
}

.footer-bar {
  background: #fff;
  border-top: 1px solid #ddd;
  float: left;
  line-height: 24px;
  padding: 10px;
  width: 100%;
}

.footer-bar a {
  text-decoration: none;
}

.footer-bar a .icon-weight {
  float: left;
  padding-right: 25px;
}

.footer-bar a .next-icon {
  float: right;
  padding: 0 10px;
}

.footer-bar a h3 {
  color: #000;
  font: 17px;
  margin: 0;
  font-family: robotoregular !important;
}

html {
  height: 100%;
}

html body {
  min-height: 100%;
  background: #f9f9f9;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*# sourceMappingURL=css.css.map */

.menu-cont {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  background: #fff;
  height: 100vh;
  z-index: 100;
  transition: left 0.3s ease-in-out;
}

.menushade {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease;
}

.menushade.visible {
  display: block;
  opacity: 1;
}

.menu-cont.open {
  left: 0;
}

.menu-cont .menu {
  margin-top: 0;
  padding: 15px 20px;
  overflow: auto;
  height: calc(100vh - 60px);
}

.header-top {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.hi-user {
  font: 20px;
  float: left;
  font-weight: 800;
  letter-spacing: 1px;
  max-width: 230px;
  width: 100%;
  display: none;
  font-family: robotoregular !important;
}

.close-menu {
  font-size: 30px;
  cursor: pointer;
  float: left;
  width: 30px;
  height: 30px;
  font-weight: bold;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.borderbottom {
  border-bottom: 1px solid #000;
}

/*Blue Scrollbar*/

/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}*/

/*Green ScrollBar in Menu*/

/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6, #54DE5D))
}*/

/* Articles Page */

.gifcont {
  text-align: center;
}

.gifcont.ptop {
  padding-top: 44px;
}

.loading-gif {
  display: inline-block;
  width: 80px;
  height: auto;
}

.nomore-articles {
  text-align: center;
  width: 100%;
  color: #ff2d55;
}

.pagewrapper {
  padding-top: 38px;
  position: relative;
}

.iframe.video {
  text-align: center;
}

.iframe.video iframe {
  width: 100%;
}

/* online coaching */

.online-coaching {
  width: 65%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-author .content {
  display: flex;
  justify-content: space-between;
}

.coaching-links {
  display: flex;
  /*justify-content: space-between;*/
  justify-content: flex-start;
  align-items: center;
}

/deep/ .online-coaching a {
  max-width: 50%;
}

/deep/ .online-coaching img {
  max-width: 100%;
}

.socialIcons {
  padding: 0px 20px 15px;
  text-align: center;
}

.findme-links {
  padding: 0 0 5px;
}

.socialIcons img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.socialIcons img.nomargin {
  margin: 0;
}

.findme-links img {
  width: 40px;
  /*height: 26px !important;
  margin-right: 6px;*/
  float: left;
}

/* .card h2.bolder {
  font-size: 19px;
  font-weight: 600;
} */

/deep/ .program-descrip .mc_a_fw_ma_t {
  font-size: 18px;
}

/deep/ .program-descrip .mc_a_fw_ma_t,
/deep/ .program-descrip p {
  word-spacing: 1px;
  line-height: 1.3;
}

/deep/ .program-descrip h5.mc_a_fw_ma_t {
  /*font-family: "Josefin Sans", Sans Serif;*/
  font-family: robotoregular;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: normal;
  line-height: 1.5;
}

/deep/ .program-descrip p {
  /*font-family: "Gafata", Sans Serif;*/
  font-family: robotoregular;
  line-height: 1.5;
  letter-spacing: normal;
}

.text-right {
  text-align: right;
}

/*.card .get-btn.nomargin {
  margin: 0;
}*/

/*.card .get-btn.padbtm {
  padding: 0px 0 40px;
  border-bottom: 1px solid #eee;
}*/

.fbcounter {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  margin: -22px 0px 0 -13px;
  font-size: 16px;
  color: #fff;
  padding: 8px 8px 8px 4px;
  background: #3c599b;
  border-radius: 3px;
}

.gpluscounter {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  margin: -22px 0px 0 -13px;
  font-size: 14px;
  color: #fff;
  padding: 8px 8px 8px 4px;
  background: #f93f2d;
  border-radius: 3px;
}

.prog-right-desc {
  width: calc(100% - 130px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.page-title.ptop {
  padding-top: 50px;
}

/* Comments Like etc */

.like-etc span {
  font-weight: 600 !important;
  color: #666;
  font-size: 13px !important;
}

.mgr10 {
  margin-right: 10px;
}

.dashicon-cont {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 20px;
  text-align: center;
}

.page-title .dashicon-cont {
  margin-right: 10px;
}

.dash_icons {
  width: auto;
  max-height: 30px;
  line-height: 30px;
}

.menu-separator {
  margin: 25px 0;
}

.menu ul li.whatsnew {
}

.menu ul li.whatsnew .wncopy {
  padding: 0 0 0 50px;
}

.menu ul li.whatsnew .wncopy h2 {
  font: 28px/30px;
  margin: 0;
  color: #000;
  font-family: robotoregular !important;
}

.menu ul li.whatsnew .wncopy p {
  font: 14px;
  margin: 15px 0 0;
  color: #000;
  font-family: robotoregular !important;
}

.backlink-container .author {
  display: none;
}

.pagewrapper .title {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.selcont {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  overflow: hidden;
  width: calc(100% - 40px);
  margin: 15px 20px;
}

/*@media (min-width: 360px) {
  .findme-links img {
    margin-right: 10px;
  }
}

@media (min-width: 480px) {
  .findme-links img {
    margin-right: 20px;
  }
}*/
a.authorpflink {
  text-decoration: none;
  color: inherit;
}

/deep/ .card {
  /* padding-top: 10px !important; */
}
/deep/ .card .inner {
  /* padding-bottom: 5px !important; */
}

/deep/ .author-back,
/deep/ .programs-back,
/deep/ .workouts-back,
/deep/ .articles-back,
/deep/ .recipes-back {
  font-size: 15px !important  ;
  padding: 11px 0 5px 0 !important;
}

/deep/ .iframe.video iframe {
  width: 100%;
}

/deep/ .ma-tab-content #board {
  /* width:95%!important; */
}

.like-button-fav {
  display: block;
  text-align: center;
}

.common-title {
  display: flex;
}
.page-title {
  top: 4% !important;
}
app-new-content-badge {
  transform: rotateZ(35deg);
}

app-new-content-badge span {
  font-size: 14px !important;
}
