.wrap.myaccountnew {
    font-family: Roboto;
    line-height: 1;
    padding-top: 40px;
    background-color: #fafafa;
    padding-bottom: 20px;
}
.wrap.myaccountnew .initialloaderr {
    text-align: center;
    color: red;
}
.wrap.myaccountnew .page-title {
    padding: 20px 20px 20px;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}
.wrap.myaccountnew .dashicon-cont {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.wrap.myaccountnew .dash_icons {
    width: auto;
    max-height: 30px;
    line-height: 30px;
}

.wrap.myaccountnew .page-title h1 {
    color: #000;
    font: 28px Roboto;
    font-weight: 400; 
    margin: 0;
    line-height: 30px;
    text-align: center;
}
.wrap.myaccountnew .gifcont {
    text-align: center;
}
.wrap.myaccountnew .gifcont.ptop {
    padding-top: 0;
}
.wrap.myaccountnew .loading-gif {
    display: inline-block;
    width: 80px;
    height: auto;
}
.wrap.myaccountnew .pers-dets {
    padding: 20px 0 20px;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    background-color: white;
    box-shadow: grey 0px 1px 4px;
    margin-bottom: 20px;
}
.wrap.myaccountnew .pers-dets.scale {
    transform: scale(0.8) rotateX(90deg);
    opacity: 0.8;
}
.wrap.myaccountnew .pers-dets ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
}
.wrap.myaccountnew .pers-dets ul li {
    padding: 5px 0;
    word-wrap: break-word;
    line-height: 1.2;
    color: #000;
    position: relative;
}
.wrap.myaccountnew .pers-dets ul li.eaddr {
    padding-right: 18px;
}
.wrap.myaccountnew .pers-dets ul li .fl-left {
    display: inline-block;
    vertical-align: top;
}
.wrap.myaccountnew .pers-dets ul li span {
    color: #000;
    margin: 0;
}
.wrap.myaccountnew .pers-dets ul li .add-mgtop {
    margin: 5px 0 0 0;
    display: inline-block;
    width: 100%;
}
.wrap.myaccountnew .pers-dets ul li .changemship {
    margin-left: 5px;
    color: #097aff;
    text-decoration: none;
}
.wrap.myaccountnew .pers-dets ul strong {
    margin-right: 5px;
    color: #666;
    font-size: 13px;
}
.wrap.myaccountnew .pers-dets h3 {
    padding: 0 20px 10px;
    margin: 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.wrap.myaccountnew .pers-dets h3 span {
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #4a90e2;
}
/* Email update form */
.wrap.myaccountnew .email-update {
    position: fixed;
    top: 100%;
    z-index: 11;
    width: 100%;
    height: calc(100% - 40px);
    background: #fafafa;
    box-sizing: border-box;
    display: flex;
    transition: all 0.4s ease;
}
.wrap.myaccountnew .edit--icon {
    display: flex;
    width: 15px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.wrap.myaccountnew .edit--icon img {
    max-width: 100%;
}
.wrap.myaccountnew .email-update.vis {
    top: 40px;
}
.wrap.myaccountnew .email-updform {
    background-color: #fff;
    height: min-content;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-shadow: gray 0px 1px 4px;
    padding: 20px;
    margin-top: 20px;

}
.wrap.myaccountnew .email-updform.block {
    display: block;
    width: 100%;
}

.wrap.myaccountnew .email-updform h3 {
    padding: 0px 0px 10px;
    margin: 0px;
}

.wrap.myaccountnew .email-updform h3 span {
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #4a90e2;
}
.wrap.myaccountnew .email-updform h3 span.cancel-btn {
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #4a90e2;
    margin-right: 10px;
}


.wrap.myaccountnew .email-updform .emailerrmsg {
    color: red;
}
.wrap.myaccountnew .email-updform .close-email-form {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap.myaccountnew .email-updform input {
    padding: 6px 8px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #6c6c6c;
    margin: 0 0 10px;
    font-size: 13px;
    width: 240px;
    color: #4c4c4c;
}
.wrap.myaccountnew .email-updform .email-updform-inner {
    display: flex;
    align-items: center;
    margin-top: 1px;
}
.wrap.myaccountnew .email-updform input {
    /* padding: 6px 8px; */
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    font-size: 14px;
    /* width: 240px; */
    flex: 1;
    color: #7c7c7c;
}
.wrap.myaccountnew .email-updform input::placeholder {
    color: lightgray;
}
.wrap.myaccountnew .email-updform .countryselect {
  /* width: 240px; */
    /* padding: 6px 8px; */
    flex: 1;
    border: none;
    color: #7c7c7c;
    font-size: 14px;
}
.wrap.myaccountnew .email-updform .label-cont {
    /* display: inline-block; */
    width: 240px;
    text-align: left;
    margin-right: 5px;
}
.wrap.myaccountnew .email-updform label {
    font-size: 14px;
    display: inline-block;
    color: #4c4c4c;
    margin-bottom: 5px;
}
.wrap.myaccountnew .email-updform .label-cont.showpass:before {
    content: '\d7';
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border: 1px solid #6c6c6c;
    font-size: 11px;
    text-align: center;
    color: red;
}
.wrap.myaccountnew .email-updform .label-cont.showpass.checked:before {
    content: '\2713';
    color: green;
    /*height: 4px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);*/
}
.wrap.myaccountnew .email-updform input.err {
    outline: none;
    border-color: red;
}
.wrap.myaccountnew .centertext{
    text-align: center;
}
/*.wrap.myaccountnew .email-callmsg.success {
    color: green;
}
.wrap.myaccountnew .email-callmsg.err {
    color: red;
}*/
.wrap.myaccountnew .upd-email-btn {
    display: inline-block;
    background: #458DD4;
    color: #fff;
    border-color: #458DD4;
    margin: 8px auto;
    text-transform: uppercase;
    font: 14px/1.5 Roboto;
    border-radius: 15px;
    padding: 6px 25px;
    border: none;
    transition: opacity 0.4s ease;
    outline: none !important;
    margin-top: 20px;
}
.wrap.myaccountnew .upd-email-btn.dim {
    opacity: 0.4;
}
/* Update info button */
.wrap.myaccountnew .pers-dets .upd-prof-btn button {
    display: inline-block;
    background: #458DD4;
    color: #fff;
    margin: 15px auto 25px;
    text-transform: uppercase;
    font: 13px/1.5 Roboto;
    border-radius: 15px;
    padding: 6px 20px;
    border: none;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    outline: none !important;
}
.email-update.vis {
    top : 10% !important;
}