.text-center {
    text-align: center;
}
/deep/ .wrap.workouts .filters {
    position: fixed;
    top: 100%;
    height: calc(100vh - 40px);
    width: 100%;
    left: 0;
    background-color: #fff;
    transition: all 0.4s ease;
    z-index: 1;
}
/deep/ .wrap.workouts .filters.show {
    top: 60px;
}
/deep/ .wrap.workouts .filters .filtersarea {
    display: inline-block;
    width: 100%;
    height: calc(100% - 65px);
    overflow: auto;
}
/deep/ .wrap.workouts .filters ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
}
/deep/ .wrap.workouts .filters ul li {
    margin: 0 0 8px;
}
/deep/ .wrap.workouts .filters ul li input {
    vertical-align: middle;
}
/deep/ .wrap.workouts #workoutslisthere .filters ul li label {
    text-transform: capitalize;
    padding-left: 6px;
    color: #AA7C41;
    font: 14px Roboto;
    line-height: 1;
    vertical-align: middle;
    font: 16px Roboto;
}
/deep/ .fltrworks {
    background: #ffcb00;
    color: #fff;
    border: none;
    padding: 6px 8px;
    border-radius: 3px;
    margin: 15px auto 0;
    font-size: 18px;
}
/deep/ .filterworksicon {
    width: 28px;
    height: 28px;
    float: right;
    color: red;
}
/deep/ .filterworksicon img {
    max-width: 100%;
}
/deep/ .filterworksicon.close {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 24px Roboto;
}
.failed{
    float: left;
    width: 96%;
    margin: 20px 2%;
    color: #fff;
    text-align: center;
    padding: 10px 1%;
    font-weight: 600;
    font: 20px Roboto;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 16px #000000;
    -moz-box-shadow: 5px 5px 16px #000000;
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.4);
    text-shadow: 1px 1px 1px #000000;
    background-image: -moz-linear-gradient(-45deg, #CA0018, #DE5567);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.00, #CA0018), color-stop(1.0, #DE5567));
    background-color: #ddd;
}
/deep/ .signuplink{
    text-decoration: none;
    color: #fff;
}
/deep/ .selcont.workouts .programs-select {
    width: 100%;
    padding: 10px;
    color: #d7d7d7;
    outline: 0 none;
    border-radius: 0;
    background: transparent;
    font: 22px Roboto;
    border: 0 none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
}
/deep/ .selcont.workouts .selcont-inner {
    border:  1px solid #d7d7d7;
    border-radius: 3px;
    width: 100%;
    position: relative;
}

/deep/ .selcont.workouts img.select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    z-index: -1;
}
/* /deep/ #workoutslisthere .card .get-btn a{
    color: #ffcb00;
} */
/deep/ #workoutslisthere .page-title.small {
    padding: 10px 20px 5px;
}
/deep/ #workoutslisthere .page-title.small h1 {
    font: 20px Roboto;
}

/*smay*/
/deep/ .wrap.workouts .tgl-btn {
    display: flex;
    width:  100%;
    padding: 15px;
    justify-content: space-around;
    align-items:  center;
}
/deep/ .wrap.workouts .tgl-btn button {
    padding: 6px 8px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
/deep/ .wrap.workouts .tgl-btn button.active {
    color: #fff;
    background: #ffcb00;
    border-color: #ffcb00;
}
/deep/ .wrap.workouts .tgl-btn button.active:focus {
    outline: none;
}


.filter-section {
    /* border: 1px solid; */
}

p.filter-toggel {
    /* border: 1px solid; */
    padding: 10px;
    margin: 0px;
    background: #ffcb00;
    color: #000;
    font-weight: 900;
}
p.filter-toggel span.toggel-icon{
    font-size: 16px;
    float: right;
}
.filter-section ul {
    display: none;
}

.filter-section ul.show-me {
    display: block;
    flex-wrap: wrap;
}
​
.filter-section ul li{
    /* float: left; */
    margin: 1px 0 4px 3px;
}

app-like-button {
    float: left;
    font-size: 14px;
    position: relative;
    top: 0px;
}

app-like-button span i {
    font-size: 16px !important;
}

.formrow.check {
    box-sizing: border-box;
    overflow:hidden;
    position:relative;
    max-width:fit-content;
    margin:auto;
    padding:3px 0;
    background:#f9f9f9; 
}
.formrow.check .checklabel {
    display: inline-block;
    width:100%;
    border:1px solid grey;
    background:#f2f2f2;
    border-radius:10px;
    text-align:center;
    padding:5px 15px 5px 10px;
    font-size:12px;
}
.formrow.check .checkbox {
    position:absolute;
    right: 10px;
    top:15px;
    width: 12px;
    height: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border:none;
    padding:0;
    border-radius:0;
    vertical-align: middle;
    transition:.3s ease;
    outline:0;
}
.formrow.check .checkbox:checked {
    background-position: 0 0;
}
​
.formrow.check .checkbox:checked + label, .formrow.check.checked-label label {
  border:1px solid #000;
  background: #AA7C41;
  color: #f2f2f2!important;
}
/* New  */
.select-box {
    text-align: center;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid; 
    border-top: 1px solid; 
    border-color: #e3e3e3;
}

.select-box  select {
    width: 100%;
    max-width: 767px;
    font-size: 21px;
    padding: 5px;
    background: #f9f9f9;
    -webkit-appearance: none;
    background: url(assets/images/Triangle.png) no-repeat right white;
    background-position: 98% 50%;
    background-size: 20px;
}

.select-box .button-container {
    text-align: right;
    margin: 15px 0 0 0;
}

.select-box .button-container span.filter-button {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 3px;
    background: #ededed;
}

.select-box .button-container span.filter-button.view {
    background: #f8cb01;
}

.selection-list ul li{
    border-bottom: 1px solid #ededed;
    padding: 5px 0;
}
.selection-list ul li input {
    display: none;
    min-width: 100%!important;
}
.selection-list ul li .check label{
    color: #000!important;
    padding-left:0px!important; 
    font-size: 18px!important;
    min-width: 100%!important;
}
.selection-list ul li .check img{
    display: none;
}
.selection-list ul li .selectedChekbox, .selection-list ul li .checked-label{
    display: inline-flex;
    position: relative;
    width: 100%;
}
.selection-list ul li .selectedChekbox img, .selection-list ul li .checked-label img{
    display: block;
    width: 20px;
    position: absolute;
    right: 0;
}
